* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a:link {
    text-decoration: none;
}

a {
    word-wrap: break-word;
    text-decoration: none;
}

strong {
    word-wrap: break-word;
    overflow-x: hidden;
}

th {
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    overflow-x: hidden;

}

p {
    word-wrap: break-word;
}

ul li {
    list-style-type: none;
}

.hr {
    margin: 25px 0;
    border: 1px solid #f0f0f0;
}

.pagination li {
    position: relative
}

.pagination li a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0
}

.pagination .next:active,
.pagination .next:focus,
.pagination .next:hover {
    opacity: 1
}


.pagination {
    text-align: center;
    justify-content: center;
}

.pagination ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.pagination li {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    font-weight: 400;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .5s
}

.pagination li.active,
.pagination li:hover {
    background-color: #fff;
    border-color: #007f61;
}

.pagination li.next {
    position: relative;
    font-size: 20px;
    text-align: center;
    color: #007f61;
    background-color: #fff;
    overflow: hidden;
}

.pagination li.next:before {
    display: inline-block;
    vertical-align: middle;
    font-family: sst;
    line-height: 32px;
    margin-top: -2px;
    font-weight: 100;
    color: #007f61;
}


img {

    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pagination select {
    padding: 0 10px;
    height: 34px;
    width: 70%;
    border: none;
    text-align: start;
    -webkit-appearance: none;
    border-radius: 5px;
}

.pagination select::before {
    width: 70%;
}

.header {
    top: 0px;
    overflow: hidden;
    position: fixed;
    padding: 10px 16px;
    background: #007f61;
    color: #f1f1f1;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

.nav-cus {
    justify-content: center;
}

div#btn-fs {
    position: fixed;
    display: flex;
    bottom: 40px;
    right: 10px;
    width: 90px;
    justify-content: space-between;
    color: #fff;
    border: none;
}

div#btn-fs button {
    position: relative;
    background-color: #007f61;
}

.btn-dash,
.btn-plus {
    color: #fff;
    opacity: .5;
    transition: all .5s;
}

@media (max-width: 768px) {
    div#btn-fs {
        position: fixed;
        display: flex;
        bottom: 40px;
        right: 30px;
        justify-content: space-around;
        border: none;
    }

    div#btn-fs button {
        width: 30px !important; 
        height: 30px !important;
        
        align-items: center !important;
        overflow-y: visible;
    }

    .pagination ul {
        margin-left: -40px !important;
    }

}

.nav-home {
    margin-top: 7px;
    width: 75px;
}

.section-footer {
    text-align: center;
}

@media (max-width: 600px) {
    .section-footer {
        text-align: center;
    }
}

div#btn-fs button {
    width: 40px;
    height: 40px;
    opacity: 0.8;
    transition: all .5s;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow-x: visible;
}

div#btn-fs button:hover {
    opacity: 1;
}


.fbt {
    font-size: 14px;
    color: #111;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 600;
    margin: 0 0 20px;
    font-family: Roboto, sans-serif !important;
}

.bool-list {
    padding-top: 30px ;
    margin-top: 70px;
    font-size: 16px;
}

#content {
    font-size: 1rem;
    width: 100%;
}
#home{
    display: none;
}

body {
    background-color: white;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

img {}

a {
    text-decoration: none;
}

.book-cover {
    background: linear-gradient(to right, #3c0d14 3px, rgba(255, 255, 255, .5) 5px, rgba(255, 255, 255, .25) 7px, rgba(255, 255, 255, .25) 10px, transparent 12px, transparent 16px, rgba(255, 255, 255, .25) 17px, transparent 22px);
    box-shadow: 0 0 5px -1px #000, inset -1px 1px 2px rgba(255, 255, 255, .5);
    margin: auto;
    border-radius: 1px;
}

.book-details {
    font-family: Roboto, sans-serif;
    font-weight: 600;
}

.book-details p {
    font-size: 14px;
    word-wrap: break-word;
    color: #666;
    font-weight: 500;
    line-height: 1.75;
}

.table-of-contents ul {
    padding-left: 20px;

}

.table-of-contents li a {
    font-size: 14px;
    line-height: 1.7;
    color: #000;
    transition: all .5s;
}

.table-of-contents li {
    list-style-type: none;
}

.table-of-contents li a:hover {
    color: #007f61;
}

.container.py-5 {
    margin-top: 50px;
}

.box-title {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 24px;
}

.title-content h4 {
    font-weight: 600;
}

.title-content .italic {
    font-weight: inherit;
}

.title-content span img {
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.title-content span {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .book-details div {
        display: block;
    }

    .book-details {
        margin-top: 20px
    }
    .nav-home{
        display: none;
    }
    .popup{
        width: 70%;
    }
}
@media (max-width: 568px){
 .popup{
    width: 100%;
 }
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #007f61;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #007f61;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 50ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 2s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-weight: lighter;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 5ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.content.donet p {
    font-size: 20px;
    font-weight: 400;
}

.content.donet p span {
    font-weight: 600;
    color: #007f61;
    margin: 0px !important;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }

    .content.donet p {
        font-size: 16px;
    }
}
.list-chapter{
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
    font-weight: 500;
}
.list-chapter:hover{
    color: blue;
}